.product {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  margin: 10px;
  padding: 20px;
  max-height: 400px;
  min-width: 500px;
  flex-grow: 1;
  z-index: 1;
}
.product img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;
}

.product button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  border-color: #a88734;
}
.product__rating {
  display: flex;
}
